html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
	width: 100%; height: 100%; max-width: 272px; max-height: 201px;
	display: block;
	margin: 15% auto 0 auto;
}

.searchBox {
	height: 35px; width: 100%; max-width: 525px;
	display: block;
	margin: 40px auto;
	padding: 5px;
	font: 16px arial,sans-serif;
}

.buttonBox {
	max-width: 525px;
	margin: auto;
	text-align: center;
}

button {
	padding: 10px 13px 10px 13px;
	margin-right: 4px;
	border: 1px solid #F1F1F1;
	border-radius: 2px;
	background-color: #F1F1F1;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	opacity: .7;
}

button:hover{
	border: 1px solid #757575;
	opacity: 1;
	color: #000;
	box-shadow: .5px .5px 2px #757575;
}

/*Navigation*/
nav {
	background-color: green;
	width: 100%;
	height: 45px;
}

ul {
	background-color: orange;
	float: right;
	text-align: right;
}

li {
	background-color: red;
	display: inline;
	margin: 0 10px 0 0;
}